/*

    colors:
        chocolate : #754c24;
        orange: #f7931e;

*/

body {
    font-family: 'Crimson Pro', serif;

    font-family: 'Montserrat', sans-serif;
}

/* menu style */
.top-nav-logo{

    height : 70px;
    width: auto;
}